build/.obj
projects/ios/build*
lib
projects/ios/chipmunk.xcodeproj/*.mode1v3
projects/ios/chipmunk.xcodeproj/*.pbxuser
projects/ios/lua.xcodeproj/*.mode1v3
projects/ios/lua.xcodeproj/*.pbxuser
projects/ios/freetype.xcodeproj/*.mode1v3
projects/ios/freetype.xcodeproj/*.pbxuser
projects/ios/Rocket.xcodeproj/*.mode1v3
projects/ios/Rocket.xcodeproj/*.pbxuser
*.DS_Store
projects/ios/Rocket.xcodeproj/project.xcworkspace/
projects/ios/Rocket.xcodeproj/xcuserdata/
projects/ios/lua.xcodeproj/project.xcworkspace/
projects/ios/lua.xcodeproj/xcuserdata/
build
bin
