[submodule "chipmunk"]
	path = chipmunk
	url = git@github.com:slembcke/Chipmunk-Physics.git
[submodule "freetype"]
	path = freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "GHL"]
	path = GHL
	url = git@github.com:andryblack/GHL.git
[submodule "utils/glsl2agal"]
	path = utils/glsl2agal
	url = git@github.com:andryblack/glsl2agal.git
[submodule "yajl"]
	path = yajl
	url = git@github.com:lloyd/yajl.git
[submodule "utils/premake5"]
	path = utils/premake5
	url = git@github.com:andryblack/premake-core.git
[submodule "pugixml"]
	path = pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "MyGUI"]
	path = MyGUI
	url = git@github.com:andryblack/mygui-1.git
