[submodule "chipmunk"]
	path = chipmunk
	url = git@github.com:slembcke/Chipmunk-Physics.git
[submodule "freetype"]
	path = freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "MyGUI"]
	path = MyGUI
	url = ./MyGUI
